.taskInputArea {
    display: flex;
    padding: 0rem 22rem;
    justify-content: center;
    margin-top: calc(0px - 1.5rem - 6px);
}

.taskInputArea input {
    width: 39.875rem;
    height: 3.375rem;
    margin-right: 0.5rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    gap: 8px;
}

.taskInputArea button {
    width: 5.625rem;
    height: 3.25rem;
    border-radius: 8px;
    background: var(--blue-dark);
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: var(--gray-100);
}
