.task {
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    padding: 1.438rem;
    gap: 0.75rem;
}

.taskCompleted {
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-500);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-decoration-line: line-through;
    padding: 1.438rem;
    gap: 0.75rem;
}

.task p {
    word-wrap: break-word;
    max-width: 35rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.18rem;
    color: var(--gray-100);
    margin-right: auto;
}

.taskCompleted p {
    word-wrap: break-word;
    max-width: 35rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.18rem;
    color: var(--gray-300);
    margin-right: auto;
}

.taskToComplete {
    text-decoration: none;
    color: var(--gray-100);
}

.taskCompleted {
    text-decoration: line-through;
    color: var(--gray-300);
    border: 1px solid var(--gray-500);
}

.trash {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: var(--gray-300);
}

.trash:hover {
    background: var(--gray-400);
}

.trash svg:hover path {
    fill: var(--danger);   
}

.noChecked {
    width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}

.noChecked div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid var(--purple-dark);
    border-radius: 50%;
}

.noChecked div:hover {
    border: 2px solid var(--purple);
}

.checked {
    width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}

.checked div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid var(--purple-dark);
    border-radius: 50%;
    background: var(--purple-dark);
}

.checked div:hover {
    width: 100%;
    height: 100%;
    border: 2px solid var(--purple);
    border-radius: 50%;
    background: var(--purple);
}

.vectorImg {
    height: 0.293rem;
    width: 0.457rem;
}
